# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [5]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem
import scipy.stats as st

# Challenge 1

This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

In [14]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries_hr_samp = salaries[salaries['Hourly Rate'].notna()].sample(100)
salaries_hr_samp.head(5)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
848,"ANGELETTI, ANTHONY R",ELECTRICAL MECHANIC,GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
30383,"VALLEJO LAMA, CARMEN L",CROSSING GUARD - PER CBA,OEMC,P,Hourly,20.0,NaN,17.42
8097,"EIBLER, JOSEPH F",STUDENT INTERN,AVIATION,F,Hourly,35.0,NaN,14.00
8646,"FEELY, JOHN",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
11674,"HALL, STANLEY E",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [18]:
# Your code here

# Hypothesis 
# NULL hypothesis H0 -> hourly wage of all hourly workers = $30/hr
# Alternative Hypothesis (H1) -> hourly wage of all hourly workers != $30/hr

# Confidence Interval
conf_interval = 0.95
s = salaries_hr_samp['Hourly Rate'].std()
deg_f = len(salaries_hr_samp)
s_mu = salaries_hr_samp['Hourly Rate'].mean()

print('95% confidence internval is:')

print(st.t.interval(conf_interval, deg_f-1, loc = s_mu, scale=s/np.sqrt(deg_f)))


# Hypothesis testing using sample test function
print('Mean of the sample is:', salaries_hr_samp['Hourly Rate'].mean())
st.ttest_1samp(salaries_hr_samp['Hourly Rate'], 30)

95% confidence internval is:
(np.float64(29.606177781753374), np.float64(34.65202221824663))
Mean of the sample is: 32.1291

TtestResult(statistic=np.float64(1.674485357060723), pvalue=np.float64(0.0971916398218299), df=np.int64(99))

In [17]:
st.ttest_1samp(salaries_hr_samp['Hourly Rate'], 30, alternative='less')

TtestResult(statistic=np.float64(1.674485357060723), pvalue=np.float64(0.9514041800890851), df=np.int64(99))

In [19]:
st.ttest_1samp(salaries_hr_samp['Hourly Rate'], 30, alternative='greater')

TtestResult(statistic=np.float64(1.674485357060723), pvalue=np.float64(0.04859581991091495), df=np.int64(99))

# Challenge 3

This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

# Challenge 4 -  Hypothesis Tests of Proportions

## This challenge is OPTIONAL

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here